.heading{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../img/imagen1.webp');
}

.subHeading{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
.green{
    background-color: mediumspringgreen;
}
.blue{
    background-color: skyblue;
}
.red{
    background-color: lightcoral;
}

.spanBlue{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}